{% extends 'layout/backend_template.html' %}
{% block content %}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">CRM</h4>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item active">CRM</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- end page title end breadcrumb -->


<div class="row">

    <!-- Right Sidebar -->
    <div class="col-12">


    </div> <!-- end col-12 -->

</div><!-- End row -->



{% endblock %}
