<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126898301-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126898301-1');
      </script>
      <meta charset="utf-8" />
      <title>{% block title %}{% if title is defined%}{{ title }}{% else %}Assignably{%endif%}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
      <meta content="Coderthemes" name="author" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <link rel="shortcut icon" href="{{ url_for('static', filename='backend/images/favicon.ico') }}">
      {% block page_css %}{% endblock %}
      {% block app_css %}
        <!-- App css -->
        <link href="{{ url_for('static', filename='backend/plugins/switchery/switchery.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='backend/css/icons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='backend/css/style.css') }}" rel="stylesheet" type="text/css" />

        <script src="{{ url_for('static', filename='backend/js/modernizr.min.js') }}"></script>
      {% endblock %}
    {% endblock %}
</head>
<body class="fixed-left">
  <!-- Begin page -->
  <div id="wrapper">
    {% include 'common/components/topbar.html' %}
    {% include 'common/components/sidebar.html' %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">
            {% if title is defined %}
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                      <div class="row">
                        <div class="col-6">
                          <h4 class="page-title">{{ title }}</h4>
                          <br />
                          <ol class="breadcrumb">
                            {% block breadcrumb %} {% endblock %}
                          </ol>
                        </div>
                        <div class="col-6">
                          <div class="dropdown pull-right">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="actionsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Actions
                            </button>
                            {% block page_actions %}
                              <div class="dropdown-menu" aria-labelledby="actionsMenu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                              </div>
                            {% endblock %}
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% include 'common/components/flash_messages.html' %}
            {% block content %}{% endblock %}
          </div>
        </div>
        {% block footer %}
          {% include 'common/components/footer.html' %}
        {% endblock %}
    </div>
    <!-- ============================================================== -->
    <!-- END right Content here -->
    <!-- ============================================================== -->
    {% include 'common/components/rightbar.html' %}
  </div>
  <!-- end wrapper -->

  {% block jquery %}
  <script>
      var resizefunc = [];
  </script>

  <!-- Plugins  -->
  <script src="{{ url_for('static', filename='backend/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
  <script src="{{ url_for('static', filename='backend/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/detect.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/fastclick.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/jquery.slimscroll.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/jquery.blockUI.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/waves.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/jquery.nicescroll.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/jquery.scrollTo.min.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/plugins/switchery/switchery.min.js') }}"></script>
  <!-- SheetJS -->
  <script lang="javascript" src="{{ url_for('static', filename='backend/js/sheetjs/xlsx.full.min.js') }}"></script>
  {% endblock %}

  {% block page_javascript %}{% endblock %}

  {% block app_javascript %}
  <!-- App js -->
  <script src="{{ url_for('static', filename='backend/js/jquery.core.js') }}"></script>
  <script src="{{ url_for('static', filename='backend/js/jquery.app.js') }}"></script>
  {% endblock %}
</body>
</html>
