<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{{ url_for('static', filename='backend/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
<script src="{{ url_for('static', filename='backend/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/detect.js"></script>
<script src="{{ url_for('static', filename='backend/js/fastclick.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.blockUI.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/waves.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/switchery/switchery.min.js') }}"></script>

<!-- SheetJS -->
<script lang="javascript" src="{{ url_for('static', filename='backend/js/sheetjs/xlsx.min.js') }}"></script>
