<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      {#<div class="row mt-3 mx-1">
        <div class="col-12">
          <a href="mail-compose.html" class="btn btn-primary btn-rounded btn-custom btn-block waves-effect waves-light">Compose</a>
        </div>
      </div>#}
      <div id="sidebar-menu">
          <ul>
              {#<li class="menu-title">Main</li>#}

              <li>
                  <a href="{{ url_for('dashboard.index') }}" class="waves-effect waves-primary"><i
                          class="ti-home"></i><span> Dashboard </span></a>
              </li>

              <li class="has_sub">
                  <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-email"></i> <span> Marketing </span>
                      <span class="menu-arrow"></span></a>
                  <ul class="list-unstyled">
                      <li><a href="{{ url_for('marketing.dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('marketing.campaigns') }}">Campaigns</a></li>
                      <li><a href="{{ url_for('marketing.sequences') }}">Follow Up Sequences</a></li>
                  </ul>
              </li>

              <li class="has_sub">
                  <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-user"></i> <span> CRM </span>
                      <span class="menu-arrow"></span></a>
                  <ul class="list-unstyled">
                      <li><a href="{{ url_for('crm.dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('crm.all_leads') }}">All Leads</a></li>

                      <li><a href="{{ url_for('crm.new_lead') }}">Add Lead</a></li>
                  </ul>
              </li>

              <li class="has_sub">
                  <a href="javascript:void(0);" class="waves-effect waves-primary"><i
                          class="ti-money"></i><span> Deals </span> <span class="menu-arrow"></span> </a>
                  <ul class="list-unstyled">
                      <li><a href="{{ url_for('deals.dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('deals.opportunities') }}">Opportunities</a></li>
                      <li><a href="{{ url_for('deals.active') }}">Active Deals</a></li>
                  </ul>
              </li>
          </ul>

          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->
